name: CI Spring Boot

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3

    - name: Setup JDK 17
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: '17'

    # Construimos todos los módulos
    - name: Build & Test
      run: mvn clean package -DskipTests

    # Ahora Docker sí encontrará el archivo porque corregimos la ruta en el Dockerfile
    - name: Build Docker image
      run: docker build -t myapp:latest .
